<generate-app-breadcrumbs breadcrumbs="Settings > Toggle Assessments"></generate-app-breadcrumbs>
<generate-app-pagetitle pagetitle="Toggle Assessments"></generate-app-pagetitle>

<div *ngIf="isLoading" class="mdl-typography--text-center">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
            <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>
    </div>
</div>

<div *ngIf="!isLoading">
    <div class="mdl-cell mdl-cell--12-col">
        <a href="#" (click)="gotoToggle()">
            Back to Toggle
        </a>
        <div class="generate-app-toggle-assessment__addassessment-container mdl-typography--text-right">
            <button class="mdl-button mdl-js-button" (click)="showDialog(assessmentDialog,-1)">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-folder-open fa-stack-2x generate-app-toggle-assessment__addassessment-folder"></i>
                    <i class="fa fa-plus-circle fa-stack-1x fa-inverse generate-app-toggle-assessment__addassessment-circle"></i>
                </span>
            </button>
            <span class="generate-app-toggle-assessment__addassessment-text">Add New Assessment</span>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">

           <div *ngIf="toggleAssessments !== null && toggleAssessments.length > 0">

               <div class="mdl-grid generate-app-toggle__assesment">
                   <div class="mdl-cell mdl-cell--3-col"> Assessment Type </div>
                   <div class="mdl-cell mdl-cell--2-col"> Assessment Name </div>
                   <div class="mdl-cell mdl-cell--1-col"> # of Performance Levels </div>
                   <div class="mdl-cell mdl-cell--1-col"> At or Above Proficiency </div>
                   <div class="mdl-cell mdl-cell--1-col"> Grade </div>
                   <div class="mdl-cell mdl-cell--1-col"> Subject </div>
                   <div class="mdl-cell mdl-cell--1-col"> EOG/EOC </div>
                   <div class="mdl-cell mdl-cell--2-col"></div>
               </div>

            <div *ngFor="let assessment of toggleAssessments">

                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--3-col">
                        <span class="generate-app-toggle__assessment-text">
                            {{assessment.assessmentType}}
                        </span>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <span class="generate-app-toggle__assessment-text">
                            {{assessment.assessmentName}}
                        </span>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col">
                        <span class="generate-app-toggle__assessment-text">
                            {{assessment.performanceLevels}}
                        </span>
                    </div>

                    <div class="mdl-cell mdl-cell--1-col">
                        <span class="generate-app-toggle__assessment-text">
                            {{assessment.proficientOrAboveLevel}}
                        </span>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col">
                        <span class="generate-app-toggle__assessment-text">
                            {{assessment.grade}}
                        </span>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col">
                        <span class="generate-app-toggle__assessment-text">
                            {{assessment.subject}}
                        </span>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col">
                        <span class="generate-app-toggle__assessment-text">
                            {{assessment.eog}}
                        </span>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col mdl-textfield--align-right">
                        <button class="mdl-button mdl-js-button" (click)="showDialog(assessmentDialog,assessment.toggleAssessmentId)">
                            <i class="fa fa-pencil-square-o fa-2x generate-app-toggle__assessment-edit" aria-hidden="true"></i>
                        </button>

                        <button class="mdl-button mdl-js-button" (click)="removeAssessmentDialog(deleteDialog,assessment.toggleAssessmentId)">
                            <i class="fa fa-times fa-2x generate-app-toggle__assessment-delete" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="toggleAssessments !== null && toggleAssessments.length === 0">
            No Assessments were added.
        </div>

    </div>
</div>
    <generate-app-dialog #assessmentDialog class="generate-app-toggle-assessment__dialog" [hideTrigger]="'None'">
        <div>
            <div class="generate-app-toggle-assessment__dialog-title">Add New Assessment</div>
        </div>
        <div *ngIf="errorMessage != null" class="mdl-typography--text-center">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center generate-app-toggle-assessment__dialog-error ">
                    {{errorMessage}}
                </div>
            </div>
        </div>
        <div *ngIf="selectedToggleAssessment !== undefined" class="generate-app-toggle-assessment__dialog-container mdl-grid">

            <div class="generate-app-toggle-assessment__dialog__subject mdl-cell mdl-cell--4-col">
                <label class="generate-app-toggle-assessment-controls__sectionlabel" for="generate-app-toggle-assessment__subjects">Subjects: </label>
            </div>
            <div class="generate-app-toggle-assessment__dialog__subject mdl-cell mdl-cell--8-col">
                <generate-app-combo-box #comboSubject id="generate-app-toggle-assessment__subjects" [itemsSource]="subjects" [isEditable]="false"
                              (selectedIndexChanged)="SubjectChanged($event)">
                </generate-app-combo-box>
            </div>

            <div class="generate-app-toggle-assessment__dialog__grade mdl-cell mdl-cell--4-col">
                <label class="generate-app-toggle-assessment-controls__sectionlabel" for="generate-app-toggle-assessment__grades">Grade: </label>
            </div>
            <div class="generate-app-toggle-assessment__dialog__grade mdl-cell mdl-cell--8-col">
                <generate-app-combo-box #comboGrade id="generate-app-toggle-assessment__grades" [itemsSource]="grades" [isEditable]="false"
                              (selectedIndexChanged)="GradeChanged($event)">
                </generate-app-combo-box>
            </div>

            <div class="generate-app-toggle-assessment__dialog__assessment-type mdl-cell mdl-cell--4-col">
                <label class="generate-app-toggle-assessment-controls__sectionlabel" for="generate-app-toggle-assessment__assessmentTypes">Assessment Type: </label>
            </div>
            <div class="generate-app-toggle-assessment__dialog__assessment-type mdl-cell mdl-cell--8-col">
                <generate-app-combo-box #comboAssessmentType id="generate-app-toggle-assessment__assessmentTypes" [itemsSource]="assessmentTypes" [isEditable]="false"
                              displayMemberPath="description" selectedValuePath="code"></generate-app-combo-box>
            </div>

            <div class="generate-app-toggle-assessment__dialog__assessment-name mdl-cell mdl-cell--4-col">
                <label class="generate-app-toggle-assessment-controls__sectionlabel" for="generate-app-toggle-assessment__assessment-name">Assessment Name: </label>
            </div>
            <div class="generate-app-toggle-assessment__dialog__assessment-name mdl-cell mdl-cell--8-col">
                <input #txtAssessmentName id="generate-app-toggle-assessment__assessment-name" required class="form-control" type="text" name="txtAssessmentName" />
            </div>

            <div class="generate-app-toggle-assessment__dialog__performance-level mdl-cell mdl-cell--4-col">
                <label class="generate-app-toggle-assessment-controls__sectionlabel" for="generate-app-toggle-assessment__performanceLevels"># of Performance Levels: </label>
            </div>
            <div class="generate-app-toggle-assessment__dialog__performance-level mdl-cell mdl-cell--8-col">
                <generate-app-combo-box #comboperformanceLevel id="generate-app-toggle-assessment__performanceLevels" [itemsSource]="performanceLevels" [isEditable]="false"></generate-app-combo-box>
            </div>

            <div class="generate-app-toggle-assessment__dialog__proficiency mdl-cell mdl-cell--4-col">
                <label class="generate-app-toggle-assessment-controls__sectionlabel" for="generate-app-toggle-assessment__proficientLevels">At or Above Proficiency: </label>
            </div>
            <div class="generate-app-toggle-assessment__dialog__proficiency mdl-cell mdl-cell--8-col">
                <generate-app-combo-box #comboproficientLevel id="generate-app-toggle-assessment__proficientLevels" [itemsSource]="performanceLevels" [isEditable]="false"></generate-app-combo-box>
            </div>

            <div class="generate-app-toggle-assessment__dialog__eog mdl-cell mdl-cell--4-col">
                <label class="generate-app-toggle-assessment-controls__sectionlabel" for="generate-app-toggle-assessment__eog">EOG/EOC: </label>
            </div>
            <div class="generate-app-toggle-assessment__dialog__eog mdl-cell mdl-cell--8-col">
                <generate-app-combo-box #comboEog id="generate-app-toggle-assessment__eog" [itemsSource]="eogTypes" [isEditable]="false"></generate-app-combo-box>
            </div>

            <div class="generate-app-toggle__assessment-dialog-buttons mdl-cell mdl-cell--12-col mdl-typography--text-right">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="saveAssessment(assessmentDialog)">OK</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="discardDialog(assessmentDialog)">Cancel</button>
            </div>
        </div>
    </generate-app-dialog>
<generate-app-dialog #deleteDialog class="generate-app-toggle-delete--assessment__dialog" [hideTrigger]="'None'">
    <div>
        <div class="generate-app-toggle-assessment__dialog-title">Delete Existing Assessment</div>
    </div>
    <div *ngIf="errorMessage != null" class="mdl-typography--text-center">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center generate-app-toggle-assessment__dialog-error ">
                {{errorMessage}}
            </div>
        </div>
    </div>
    <div *ngIf="selectedToggleAssessment !== undefined" class="generate-app-toggle-assessment__dialog-container mdl-grid">


        <div class="generate-app-toggle-assessment__dialog__assessment-name mdl-cell mdl-cell--4-col">
            <label class="generate-app-toggle-assessment-controls__sectionlabel">Assessment Name: </label>
        </div>
        <div class="generate-app-toggle-assessment__dialog__assessment-name mdl-cell mdl-cell--8-col">
            {{selectedToggleAssessment.assessmentName}}
        </div>

        <div class="generate-app-toggle__assessment-dialog-buttons mdl-cell mdl-cell--12-col mdl-typography--text-right">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="deleteAssessment(deleteDialog)">OK</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="discardDialog(deleteDialog)">Cancel</button>
        </div>
    </div>
</generate-app-dialog>
