@import '../variables.scss';

// generate-home__section

.generate-home__section {
    padding-top: 5px;
    padding-bottom: 5px;
}

.generate-home__section--intro {
    margin-bottom: 10px;
}

.generate-home-color-text--primary {
    background-color: $color-primary-dark !important;
}
.mdl-color-text--primary {
    color: $color-primary-dark !important; // Or use a hex value like #1a237e
}

// generate-home__button
.generate-home__button {
    border: 2px solid $color-primary;
    background-color: $color-primary-light;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    color: $color-primary-dark;
    text-transform: none;
}

.generate-home__button:hover {
    background: $color-accent-light;
    color: $color-primary;
    cursor: pointer;
}

.generate-home__button a {
    color: $color-primary-dark !important;
}

.generate-home__button-caption {
    display: block;
    float: left;
    width: 100%;
    line-height: 1em;
}

.generate-home__button--resources {
    padding-top: 45%;
}

.generate-home__button--summary {
    padding-top: 30%;
}

.generate-home__button--ciid {
    padding-top: 15%;
}

.generate-home__button-link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.generate-home__button-dropdown-item {
    color: #ffffff !important;
}

.generate-home__button-dropdown-item:hover, .generate-home__button-dropdown-item:hover .generate-home__button-link {
    background-color: $color-accent-light !important;
    color: $color-primary !important;
}

.generate-home__button-dropdown-item:hover {
    background-color: $color-accent-light !important;
}

.generate-home__button-dropdown {
    background-color: $color-primary;
}


// generate-home__reports

.generate-home__reports {
    text-align: center;
}

.generate-home__reports-computer {
    display: inline-block;
}

.generate-home__reports-pill-group {
    display: inline-block;
    height: 150px;
    
    @media screen and (min-width: $grid-desktop-breakpoint) {
        margin-left: -40px;
    }
}

.generate-home__reports-pill {
    margin-bottom: 10px;
    height: 60px;
    width: 430px;
}


.generate-home__reports-pill-icon {
    background-color: $color-accent;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid $color-accent;
    color: white;
    float: left;
    border-right: 1px solid white;
    margin-top: 20px;
}



.generate-home__reports-pill-label {
    background-color: $color-accent-medium;
    width: 350px;
    height: 45px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $color-accent-medium;
    color: #4c4848;
    float: left;
    margin-top: 20px;
    padding-top: 25px;
    font-size: 18px;
    text-align: left;
 }

.generate-home__reports-pill-label:hover {
    background-color: $color-accent-light !important;
    cursor: pointer;
    border: 1px solid $color-accent;
}


.generate-home__reports-pill-label-caption {
    padding-left: 10px;
}
.generate-home__reports-files {
    margin-top: 13px;
}

.generate-home__message{
  background-color: $color-primary !important;
 }

.generate-app-menu__dropdown {
    background-color: $color-primary;
}

.mdl-menu__item {
    padding: 0;
}

.generate-app-menu__link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.generate-app-menu__dropdown-item {
    color: #ffffff !important;
}

.generate-app-menu__dropdown-item:hover, .generate-app-menu__dropdown-item:hover .generate-app-menu__link {
    background-color: $color-accent-light !important;
    color: $color-primary !important;
}


.generate-app-menu__item {
    color: #ffffff;
    vertical-align: middle;
    font-size: 18px;
}

.generate-app-menu__item--border-left {
    border-left: 1px solid $color-accent-light;
}

.generate-app-menu__item--border-right {
    border-right: 1px solid $color-accent-light;
}

.generate-app-menu__item--icon {
    vertical-align: middle;
}

.generate-app-menu__item:hover {
    background-color: $color-accent-light !important;
    color: $color-primary !important;
}

.generate-app-drawer__item:hover {
    background-color: $color-accent-light !important;
    color: $color-primary !important;
}

.generate-app-drawer__item {
    font-size: 16px;
}

.generate-home__button-link:focus {
    cursor: pointer !important;
    border-color: #161718 !important;
    border-style: solid !important;
    color: #000000 !important;
}

.generate-home__button-link:hover {
    background-color: $color-accent-light !important;
    color: #000000 !important;
}


@media (max-width: 1100px) {
    /*.generate-home__sidebar {
        margin-left: -100px;
    }
*/
    /*.generate-home__reports-computer img {
        width: 10px;*/ /* smaller at ~175% zoom */
        /*display:block;
    }*/

    /*.generate-home__reports {
        margin-left: -100px;
    }*/

/*    .generate-home__button {
        margin-left: -16px;
    }*/
}
