<generate-app-breadcrumbs breadcrumbs="About"></generate-app-breadcrumbs>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-typography--subhead">
        Generate
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-typography--subhead">
        Version - {{this.buildVersion}}
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-typography--subhead">
        Environment Name - {{this.environmentName}}
    </div>
    <div>
        <a class="mdl-cell mdl-cell--12-col mdl-typography--subhead mdl-color-text--primary" rel="noopener noreferrer" href="https://center-for-the-integration-of-id.gitbook.io/generate-documentation/release-notes/introduction" target="_blank">Release Notes</a>
    </div>
</div>
