<div *ngIf="!userService.isLoggedIn()" id="generate-app__message" class="generate-app__message mdl-js-snackbar mdl-snackbar" aria-live="assertive" aria-atomic="true" aria-relevant="text">
    <div class="mdl-snackbar__text generate-app__message-text"></div>
    <button class="mdl-snackbar__action" type="button"><span class="generate-text--screen-reader-only">Activate Toast Notification</span></button>
</div>
<header class="mdl-layout__header">
    <h1 class="generate-text--screen-reader-only" aria-hidden="true">GENERATE</h1>
    <div class="mdl-layout__header-row mdl-color--white" aria-hidden="true">
        <div>
            <span class="mdl-layout-title">
                <img src="./assets/images/icon-generate-xs.png" alt="Generate Logo" />
                <span class="generate-app-title">GENERATE</span>
            </span>
        </div>
        <div class="mdl-layout-spacer"></div>
        <generate-app-login></generate-app-login>
    </div>
    <div class="mdl-layout__header-row generate-app__header  mdl-layout--large-screen-only">
        <nav class="mdl-navigation">

            <a class="mdl-navigation__link generate-app-menu__item generate-app-menu__item--border-left generate-app-menu__item--border-right" tabindex="4" [routerLink]="['/']"><i class="fa fa-home fa-3x generate-app-menu__item--icon" alt="Home"><span class="generate-text--screen-reader-only">Home</span></i></a>

            <a id="generate-app-menu__item--resources" class="mdl-navigation__link generate-app-menu__item generate-app-menu__item--border-right" href="#" tabindex="5" (click)="onClickMenuItem()">Resources</a>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect generate-app-menu__dropdown" for="generate-app-menu__item--resources">
                <li class="generate-app-menu__dropdown-item"><a class="mdl-menu__item generate-app-menu__link" rel="noopener noreferrer" href="https://center-for-the-integration-of-id.gitbook.io/generate-documentation/" target="_blank">User Guide</a></li>
                <li class="generate-app-menu__dropdown-item"><a class="mdl-menu__item generate-app-menu__link" rel="noopener noreferrer" href="https://center-for-the-integration-of-id.gitbook.io/generate-documentation" target="_blank">Documentation</a></li>
                <li class="generate-app-menu__dropdown-item"><a class="mdl-menu__item generate-app-menu__link" rel="noopener noreferrer" href="https://center-for-the-integration-of-id.gitbook.io/generate-documentation/user-guide/support" target="_blank">Support</a></li>
                <li class="generate-app-menu__dropdown-item"><a class="mdl-menu__item generate-app-menu__link" href="#" [routerLink]="['/about']">About Generate</a></li>
            </ul>

            <a class="mdl-navigation__link generate-app-menu__item generate-app-menu__item--border-right" (click)="gotoSummary()" tabindex="10" href="#">Data Population Summary</a>

            <a id="generate-app-menu__item--reports" class="mdl-navigation__link generate-app-menu__item generate-app-menu__item--border-right" tabindex="11" href="#" (click)="onClickMenuItem()">Standard Reports</a>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect generate-app-menu__dropdown" for="generate-app-menu__item--reports">
                <li class="generate-app-menu__dropdown-item"><a href="#" class="mdl-menu__item generate-app-menu__link" (click)="gotoReportsEdFacts()">ED<span class="generate-text--italic">Facts</span> Reports</a></li>
                <li class="generate-app-menu__dropdown-item"><a href="#" class="mdl-menu__item generate-app-menu__link" (click)="gotoReportsSppApr()">SPP/APR Reports</a></li>
                <li class="generate-app-menu__dropdown-item"><a href="#" class="mdl-menu__item generate-app-menu__link" (click)="gotoReportsLibrary()">Reports Library</a></li>
            </ul>

            <a class="mdl-navigation__link generate-app-menu__item generate-app-menu__item--border-left generate-app-menu__item--border-right" target="_blank" rel="noopener noreferrer" tabindex="12" href="https://ciidta.communities.ed.gov/#program">CIID</a>
        </nav>
        <div class="mdl-layout-spacer" aria-hidden="true"></div>
        <nav *ngIf="userService.isLoggedIn()" class="mdl-navigation" aria-hidden="true">
            <a id="generate-app-menu__item--settings" tabindex="13" class="mdl-navigation__link generate-app-menu__item" href="#" (click)="onClickMenuItem()"><i class="fa fa-cog fa-3x generate-app-menu__item--icon" alt="Settings"><span class="generate-text--screen-reader-only-alt">Settings</span></i></a>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect generate-app-menu__dropdown" for="generate-app-menu__item--settings">
                <li class="generate-app-menu__dropdown-item"><a href="#" [routerLink]="['/settings/toggle']" class="mdl-menu__item generate-app-menu__link">Toggle</a></li>
                <li *ngIf="userService.isAdmin()" class="generate-app-menu__dropdown-item"><a href="#" [routerLink]="['/settings/datamigration']" class="mdl-menu__item generate-app-menu__link">Data Migration</a></li>
                <li *ngIf="userService.isAdmin()" class="generate-app-menu__dropdown-item"><a href="#" [routerLink]="['/settings/update']" class="mdl-menu__item generate-app-menu__link">Update</a></li>
                <li class="generate-app-menu__dropdown-item"><a href="#" [routerLink]="['/settings/metadata']" class="mdl-menu__item generate-app-menu__link">Metadata</a></li>
            </ul>
        </nav>
        <div class="menu-btn" (click)="openDrawer()">
            <i class="material-icons">menu</i>
        </div>

    </div>
</header>

<div class="drawer" [class.open]="isDrawerOpen">
    <p>Drawer content</p>
</div>

<!-- Overlay -->
<div class="overlay"
     *ngIf="isDrawerOpen"
     (click)="closeDrawer()"></div>
