@import '../../variables.scss';

.generate-app-title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: $color-primary-dark !important;
    margin-left: 10px;
    vertical-align: middle;
}

.generate-app-footer {
    margin: 20px;
}

.generate-app-menu__dropdown {
    background-color: $color-primary;
}

.mdl-menu__item {
    padding: 0;
}

.generate-app__header {
    background-color: $color-primary-dark !important;
}

.generate-app-menu__link {
    text-decoration: none;
    color: #ffffff;
    display: block;
    /*width: 100%;*/
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

   
.generate-app-menu__dropdown-item {
    color: #ffffff !important;
}

.generate-app-menu__dropdown-item:hover, .generate-app-menu__dropdown-item:hover {
    background-color: $color-accent-light !important;
    color: $color-primary !important;
}


.generate-app-menu__item {
    color: #ffffff;
    vertical-align: middle;
    font-size: 18px;
}
.generate-app-menu__item--border-left
{
    border-left: 1px solid $color-accent-light;
}
.generate-app-menu__item--border-right
{
    border-right: 1px solid $color-accent-light;
}

.generate-app-menu__item--icon {
    vertical-align: middle;
}
.generate-app-menu__item:hover {
    background-color: $color-accent-light !important;
    color: $color-primary !important;
}
.generate-app-drawer__item:hover {
    background-color: $color-accent-light !important;
    color: $color-primary !important;
}

.generate-app-drawer__item {
    font-size: 16px;
}

.generate-app__message{
  background-color: $color-primary !important;
 }

.generate-app-menu__link:focus {
    cursor: pointer !important;
    border-color: #161718 !important;
    border-style: solid !important;
    color: #000000 !important;
}

.generate-app-menu__link:hover {
    background-color: $color-accent-light !important;
    color: #000000 !important;
}

