@import '../../variables.scss';
@import '../../../../node_modules/material-design-lite/src/_variables.scss';
@import '../../../../node_modules/material-design-lite/src/_mixins.scss';


.generate-app-shared-login__textfield{
    width: 90px !important;
    color: $color-primary;
    margin-right: 3px;
    font-size: 14px !important;
}
.generate-app-shared-login__textfield-input{
    font-size: 14px !important;
 }
.generate-app-shared-login__button-container{
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
}

.generate-app-shared-login__button{
    min-width: 40px !important;
}
.generate-app-button--colored {
    background-color: $color-primary-dark;
}

.generate-app-shared-loggedin__text {
    color: $color-primary-dark;
    display: inline;
    vertical-align: middle;
    margin-right: 3px;
}

.mdl-textfield__input{
    color:$color-primary;
}
.generate-app-shared-login__error{
  background-color: $color-primary !important;
 }

.mdl-snackbar {
  position: fixed;
  top: 0;
  left: 50%;
  height: 48px;
  cursor: default;
  background-color: $snackbar-background-color;
  z-index: 3;
  display: block;
  display: flex;
  justify-content: space-between;
  font-family: $preferred_font;
  will-change: transform;
  transform: translate(0, -100%);
  transition: transform 0.25s $animation-curve-fast-out-linear-in;
  pointer-events: none;
  @media(max-width: $snackbar-tablet-breakpoint - 1) {
    width: 100%;
    left: 0;
    min-height: 48px;
    max-height: 80px;
  }
  @media(min-width: $snackbar-tablet-breakpoint) {
    min-width: 288px;
    max-width: 568px;
    border-radius: 2px;
    transform: translate(-50%, -100%);
  }
  &--active {
    transform: translate(0, 0);
    pointer-events: auto;
    transition: transform 0.25s $animation-curve-linear-out-slow-in;

    @media(min-width: $snackbar-tablet-breakpoint) {
      transform: translate(-50%, 0);
    }
  }

  &__text {
    padding: 14px 12px 14px 24px;
    vertical-align: middle;
    color: white;
    float: left;
  }

  &__action {
    background: transparent;
    border: none;
    color: $snackbar-action-color;
    float: right;
    text-transform: uppercase;
    padding: 14px 24px 14px 12px;
    @include typo-button();
    overflow: hidden;
    outline: none;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    align-self: center;

    &::-moz-focus-inner {
      border: 0;
    }
    &:not([aria-hidden]) {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

#loginButton-lg:focus {
    cursor: pointer !important;
    border-color: #161718 !important;
    border-style: solid !important;
}

#logoutButton-lg:focus {
    cursor: pointer !important;
    border-color: #161718 !important;
    color: #e5ebf0 !important;
    border-style: solid !important;
}

/*Show drawer ONLY at high zoom (or very narrow desktop) */
@media (max-width: 1100px) {
    .generate-app-shared-login__button-container{
        padding-left:1.2rem;
    }

    .generate-app-shared-loggedin__text {
        display: none;
    }
}
