<h2 *ngIf="pagetitle == 'ReportsEdFacts'" class="generate-app-pagetitle mdl-color-text--primary mdl-typography--text-center mdl-typography--text-uppercase" aria-hidden="true">
    ED <span class="generate-text--italic">Facts</span> Submission Reports
</h2>
<h2 *ngIf="pagetitle != 'ReportsEdFacts'" class="generate-app-pagetitle mdl-color-text--primary mdl-typography--text-center mdl-typography--text-uppercase" aria-hidden="true">
    {{pagetitle}}
</h2>
<h3 *ngIf="pagesubtitle != null" class="generate-app-pagesubtitle" aria-hidden="true">{{pagesubtitle}}</h3>
