/*
//////////////////////////////////////
// Overall APP Styling
// --------------------------------------------
// Note: This Component has ViewEncapsulation.None so the styles will bleed out to all other comopon
//////////////////////////////////////
*/


/*
// Fonts
//////////////////////////////////////
*/

/*@import "~sass-web-fonts/web-fonts";
$url: web-fonts-url("Oswald:400,700", "Roboto:400,700", "Material Icons");
@import url($url);
*/

/*
// Imports
//////////////////////////////////////
*/

/* variables */
@import "variables.scss";

 
/* font-awesome */
$fa-font-path: "~font-awesome/fonts/";


/*
// Shared Styles
////////////////////////////
*/

.generate-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.generate-text--bold
{
    font-weight: bold;
}
.generate-text--italic
{
    font-style: italic;
}
.generate-text--screen-reader-only
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.generate-text--screen-reader-only-alt
{
    position:absolute;
    width:1px;
    height:1px;
    overflow:hidden;
}

.mdl-tabs__tab-bar  {
  justify-content: flex-start !important;
}

/* Hide drawer by default */
/*.mdl-layout--fixed-drawer .mdl-layout__drawer {
    display: none;
}

.mdl-layout--fixed-drawer .mdl-layout__content {
    margin-left: 0;
}*/

 /*Show drawer ONLY at high zoom (or very narrow desktop) */
/*@media (max-width: 1100px) {
    .mdl-layout--fixed-drawer .mdl-layout__drawer {
        display: block;
        transform: translateX(0) !important;
        left: 0 !important;
        width: 240px;
    }

    .mdl-layout--fixed-drawer .mdl-layout__content {
        margin-left: 240px;
    }
}*/

.submenu {
    display: none;
    padding-left: 16px;
}

.submenu.open {
    display: block;
}

.expandable {
    cursor: pointer;
}

.app-shell {
    position: relative;
}

/* Drawer does NOT consume layout space */
.app-drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    z-index: 1000;
}

/* Hidden by default */
.drawer {
    transform: translateX(-260px);
    transition: transform 0.3s ease;
}

/* Visible when open */
.drawer.open {
    transform: translateX(0);
}

/* Main content fills full width */
.app-main {
    width: 100%;
    transition: margin-left 0.3s ease;
}

/* Shift ONLY when drawer is open */
.app-main.shifted {
    margin-left: 260px;
}

/* Content area */
.app-content {
    flex: 1;
    overflow: auto;
    padding: 16px;
}
