<a href="#app-generate-main" class="generate-text--screen-reader-only">Skip to main content</a>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
    <generate-app-header></generate-app-header>
    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#" [routerLink]="['/']">Home</a>

            <!-- Expandable Resources -->
            <div class="mdl-navigation__link expandable" (click)="toggleSubmenu('resources')">
                Resources <i class="material-icons" style="float:right;">expand_more</i>
            </div>
            <div class="submenu" [class.open]="submenus.resources">
                <a class="mdl-navigation__link" href="https://ciidta.communities.ed.gov/#communities/pdc/documents/17667" target="_blank">User Guide</a>
                <a class="mdl-navigation__link" href="https://center-for-the-integration-of-id.gitbook.io/generate-documentation" target="_blank">Documentation</a>
                <a class="mdl-navigation__link" href="https://center-for-the-integration-of-id.gitbook.io/generate-documentation/user-guide/support" target="_blank">Support</a>
                <a class="mdl-navigation__link" href="#" [routerLink]="['/about']">About Generate</a>
            </div>

            <a class="mdl-navigation__link" (click)="gotoSummary()" href="#">Data Population Summary</a>

            <!-- Expandable Standard Reports -->
            <div class="mdl-navigation__link expandable" (click)="toggleSubmenu('reports')">
                Standard Reports <i class="material-icons" style="float:right;">expand_more</i>
            </div>
            <div class="submenu" [class.open]="submenus.reports">
                <a class="mdl-navigation__link" href="#" (click)="gotoReportsEdFacts()">EDFacts Reports</a>
                <a class="mdl-navigation__link" href="#" (click)="gotoReportsSppApr()">SPP/APR Reports</a>
                <a class="mdl-navigation__link" href="#" (click)="gotoReportsLibrary()">Reports Library</a>
            </div>

            <a class="mdl-navigation__link" href="https://ciidta.communities.ed.gov/#program" target="_blank">CIID</a>

            <div *ngIf="userService.isLoggedIn()" class="mdl-navigation__link expandable" (click)="toggleSubmenu('settings')">
                Settings <i class="material-icons" style="float:right;">expand_more</i>
            </div>
            <div class="submenu" [class.open]="submenus.settings">
                <a class="mdl-navigation__link" href="#" [routerLink]="['/settings/toggle']">Toggle</a>
                <a *ngIf="userService.isAdmin()" class="mdl-navigation__link" href="#" [routerLink]="['/settings/datamigration']">Data Migration</a>
                <a *ngIf="userService.isAdmin()" class="mdl-navigation__link" href="#" [routerLink]="['/settings/update']">Update</a>
                <a class="mdl-navigation__link" href="#" [routerLink]="['/settings/metadata']">Metadata</a>
            </div>

            <generate-app-login></generate-app-login>
            <!--<a class="mdl-navigation__link" href="#">LOG IN</a>-->
        </nav>
    </div>
    <main id="app-generate-main" class="mdl-layout__content">
        <router-outlet></router-outlet>
        <generate-app-footer></generate-app-footer>
    </main>
</div>
