
/*
// Variables
//////////////////////////////////////
*/

$color-primary: #607D8B;
$color-primary-light: #eceff1;
$color-primary-dark: #546d78;

$color-accent: #FF9800;
$color-accent-light: #FFF3E0;
$color-accent-medium: #FFB74D;
$color-accent-dark: #b36b00;

$grid-tablet-breakpoint: 480px;
$grid-desktop-breakpoint: 840px;
