.vertical-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.mdl-navigation {
    padding: 0;
}

.mdl-navigation__link {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 20px;
    margin: 0;
    line-height: 1.4;
    text-align: left;
}

    .mdl-navigation__link:hover {
        background-color: #f5f5f5;
    }
