IF EXISTS(SELECT 1 FROM INFORMATION_SCHEMA.ROUTINES WHERE ROUTINE_SCHEMA = 'APP' AND ROUTINE_NAME = 'Migrate_Data_ETL_PRELIMINARY_STEP01_CompletelyClearDataFromODS') BEGIN
	DROP PROCEDURE [App].[Migrate_Data_ETL_PRELIMINARY_STEP01_CompletelyClearDataFromODS]
END

IF EXISTS(SELECT 1 FROM INFORMATION_SCHEMA.ROUTINES WHERE ROUTINE_SCHEMA = 'Staging' AND ROUTINE_NAME = 'Migrate_StagingToIDS_CompletelyClearDataFromODS') BEGIN
	DROP PROCEDURE [Staging].[Migrate_StagingToIDS_CompletelyClearDataFromODS]
END