<generate-app-breadcrumbs breadcrumbs="Resources > Tutorials"></generate-app-breadcrumbs>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="generate-tutorial__section mdl-typography--subhead">
            Learn more about Generate.
        </div>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--5-col-tablet mdl-cell--12-col-phone generate-tutorial__col">
        <div class="generate-tutorial__videoWrapper">
            <iframe title="Toggle Switch" width="100" height="100" class="generate-tutorial__video" src="https://www.youtube.com/embed/29vxIlRfo_Q"
                    allowfullscreen></iframe>
        </div>
        <div class="generate-tutorial__subhead mdl-typography--subhead">
            Activating the Toggle Switch
        </div>
        <div class="generate-tutorial__text">
            Learn how to Activate the Toggle switch.
        </div>
        <div class="generate-tutorial__download">
            <button class="mdl-button mdl-js-button mdl-button--primary" (click)="downloadTranscript()">
                Transcript <i class="fa fa-file-pdf-o fa-lg" alt="PDF"></i>
            </button>
            <span class="generate-tutorial__fileSize">(100 KB)</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--5-col-tablet mdl-cell--12-col-phone generate-tutorial__col">
        <div class="generate-tutorial__videoWrapper">
            <iframe title="Data Population" width="100" height="100" class="generate-tutorial__video" src="https://www.youtube.com/embed/P2a3wo4X6AU"
                    allowfullscreen></iframe>
        </div>
        <div class="generate-tutorial__subhead mdl-typography--subhead">
            Viewing Data Population Summary Reports
        </div>
        <div class="generate-tutorial__text">
            Learn how to view Data Population Summary Reports.
        </div>
        <div class="generate-tutorial__download">
            <button class="mdl-button mdl-js-button mdl-button--primary" (click)="downloadTranscript()">
                Transcript <i class="fa fa-file-pdf-o fa-lg" alt="PDF"></i>
            </button>
            <span class="generate-tutorial__fileSize">(100 KB)</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--5-col-tablet mdl-cell--12-col-phone generate-tutorial__col">
        <div class="generate-tutorial__videoWrapper">
            <iframe title="SPP/APR Report" width="100" height="100" class="generate-tutorial__video" src="https://www.youtube.com/embed/8Z6RF6R2HIw"
                    allowfullscreen></iframe>
        </div>
        <div class="generate-tutorial__subhead mdl-typography--subhead">
            Viewing Standard Reports for SPP/APR
        </div>
        <div class="generate-tutorial__text">
            Learn how to view SPP/APR standard reports.
        </div>
        <div class="generate-tutorial__download">
            <button class="mdl-button mdl-js-button mdl-button--primary" (click)="downloadTranscript()">
                Transcript <i class="fa fa-file-pdf-o fa-lg" alt="PDF"></i>
            </button>
            <span class="generate-tutorial__fileSize">(100 KB)</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--5-col-tablet mdl-cell--12-col-phone generate-tutorial__col">
        <div class="generate-tutorial__videoWrapper">
            <iframe title="EDFacts Report" width="100" height="100" class="generate-tutorial__video" src="https://www.youtube.com/embed/ZD4L4esE2so"
                    allowfullscreen></iframe>
        </div>
        <div class="generate-tutorial__subhead mdl-typography--subhead">
            Viewing Standard Reports for ED<span class="generate-text--italic">Facts</span>
        </div>
        <div class="generate-tutorial__text">
            Learn how to view ED<span class="generate-text--italic">Facts</span> standard reports.
        </div>
        <div class="generate-tutorial__download">
            <button class="mdl-button mdl-js-button mdl-button--primary" (click)="downloadTranscript()">
                Transcript <i class="fa fa-file-pdf-o fa-lg" alt="PDF"></i>
            </button>
            <span class="generate-tutorial__fileSize">(100 KB)</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--5-col-tablet mdl-cell--12-col-phone generate-tutorial__col">

        <div class="generate-tutorial__videoWrapper">
            <iframe title="EDFacts Submission Files" width="100" height="100" class="generate-tutorial__video" src="https://www.youtube.com/embed/iSfOekbx4AE"
                    allowfullscreen></iframe>
        </div>
        <div class="generate-tutorial__subhead mdl-typography--subhead">
            Generating ED<span class="generate-text--italic">Facts</span> Submission Files
        </div>
        <div class="generate-tutorial__text">
            Learn how to generate ED<span class="generate-text--italic">Facts</span> Submission Files.
        </div>
        <div class="generate-tutorial__download">
            <button class="mdl-button mdl-js-button mdl-button--primary" (click)="downloadTranscript()">
                Transcript <i class="fa fa-file-pdf-o fa-lg" alt="PDF"></i>
            </button>
            <span class="generate-tutorial__fileSize">(100 KB)</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
    <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--5-col-tablet mdl-cell--12-col-phone generate-tutorial__col">
    </div>
    <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone">
    </div>
</div>
