@import '../../variables.scss';

.generate-app-metadata__section {
    margin-bottom: 10px;
    padding: 5px;
}

.generate-metadata-section-title {
    margin: 20px 50px;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.generate-metadata-section-main-title-text {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
}

.generate-metadata-subsection {
    margin: 10px;
    font-size: 20px;
    padding: 20px;
    color: $color-accent-dark;
}

.generate-metadata-actions {
    padding: 20px;
    text-align: center;
}

.generate-metadata__error {
    color: red;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.generate-metadata__message {
    margin: 10px;
    text-align: center;
    color: rgba(0,0,0,.54);
    font-size: 20px;
    padding: 20px;
}

.generate-metadata__DD {
    text-align: center;
    color: rgba(0,0,0,.54);
    font-size: 20px;
    width:100px;
}
