CREATE PROCEDURE [Staging].[RUN_DMC]
	@submissionYear int = NULL
AS
BEGIN

    SET NOCOUNT ON;

		-- Completely clear the RDS
		TRUNCATE TABLE RDS.BridgeK12StudentAssessmentRaces
		TRUNCATE TABLE RDS.BridgeK12ProgramParticipationRaces
		TRUNCATE TABLE RDS.BridgeK12SchoolGradeLevels
		TRUNCATE TABLE RDS.BridgeK12StudentCourseSectionK12Staff
		TRUNCATE TABLE RDS.BridgeK12StudentCourseSectionRaces
		TRUNCATE TABLE RDS.BridgeK12StudentEnrollmentRaces
		TRUNCATE TABLE RDS.BridgeLeaGradeLevels
		TRUNCATE TABLE RDS.BridgePsStudentEnrollmentRaces
		TRUNCATE TABLE RDS.ReportEDFactsK12StaffCounts
		TRUNCATE TABLE RDS.ReportEDFactsK12StudentCounts
		TRUNCATE TABLE RDS.ReportEDFactsK12StudentDisciplines
		TRUNCATE TABLE RDS.ReportEDFactsK12StudentAssessments
		TRUNCATE TABLE RDS.ReportEDFactsK12StudentAttendance
		TRUNCATE TABLE RDS.ReportEDFactsOrganizationCounts
		TRUNCATE TABLE RDS.ReportEDFactsOrganizationStatusCounts

		DELETE FROM RDS.FactCustomCounts
		DELETE FROM RDS.FactK12ProgramParticipations
		DELETE FROM RDS.FactK12StaffCounts
		DELETE FROM RDS.FactK12StudentAssessments
		DELETE FROM RDS.FactK12StudentAttendanceRates
		DELETE FROM RDS.FactK12StudentCounts
		DELETE FROM RDS.FactK12StudentCourseSections
		DELETE FROM RDS.FactK12StudentDisciplines
		DELETE FROM RDS.FactK12StudentEnrollments
		DELETE FROM RDS.FactOrganizationCounts
		DELETE FROM RDS.FactOrganizationStatusCounts
		DELETE FROM RDS.DimSeas
		DELETE FROM RDS.DimLeas
		DELETE FROM RDS.DimK12Schools
		DELETE FROM RDS.DimPeople


		DBCC CHECKIDENT('RDS.FactCustomCounts', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12ProgramParticipations', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12StaffCounts', RESEED, 1);
		DBCC CHECKIDENT('RDS.ReportEDFactsK12StudentAssessments', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12StudentAssessments', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12StudentAttendanceRates', RESEED, 1);
		DBCC CHECKIDENT('RDS.ReportEDFactsK12StudentAttendance', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12StudentCounts', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12StudentCourseSections', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12StudentDisciplines', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactK12StudentEnrollments', RESEED, 1);
		DBCC CHECKIDENT('RDS.ReportEDFactsOrganizationCounts', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactOrganizationCounts', RESEED, 1);
		DBCC CHECKIDENT('RDS.ReportEDFactsOrganizationStatusCounts', RESEED, 1);
		DBCC CHECKIDENT('RDS.FactOrganizationStatusCounts', RESEED, 1);
		DBCC CHECKIDENT('RDS.DimSeas', RESEED, 1);
		DBCC CHECKIDENT('RDS.DimLeas', RESEED, 1);
		DBCC CHECKIDENT('RDS.DimK12Schools', RESEED, 1);
		DBCC CHECKIDENT('RDS.DimPeople', RESEED, 1);

		--set the Submission Year if it wasn't provided
		if ISNULL(@submissionYear, '') = ''
		begin
			select @submissionYear = SchoolYear
			from staging.K12Enrollment	
		end

	--	--create temp table to hold stored procedures/execution flag
		if OBJECT_ID('tempdb..#RDSMigrationProcedures') IS NOT NULL
		drop table #RDSMigrationProcedures

		create table #RDSMigrationProcedures (
			SP_ID								int		
			, StoredProcedureName				nvarchar(100)
			, Executed 							bit
			, Error								nvarchar(max)
		)



	----------------------------------------------
	---- Staging-to-RDS
	----------------------------------------------

	--	--------------
	--	--DIM tables
	--	--------------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 1 and executed = 0)
			begin try 

				--write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-DimSeas')

				--execute the stored procedure
				exec [Staging].[Staging-to-DimSeas] 'directory', null, 0

				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 1

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 1
			end catch
	--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 2 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-DimLeas')

				--execute the stored procedure
				exec [Staging].[Staging-to-DimLeas] 'directory', null, 0	
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 2

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 2
			end catch
		--------
	
			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 3 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-DimK12Schools')

				--execute the stored procedure
				exec [Staging].[Staging-to-DimK12Schools] null, 0
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 3

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 3
			end catch
		--------
	

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 4 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-DimCharterSchoolAuthorizers')

				--execute the stored procedure
				exec [Staging].[Staging-to-DimCharterSchoolAuthorizers] NULL, 0
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 4

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 4
			end catch
		--------
	

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 5 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-DimCharterSchoolManagementOrganizations')

				--execute the stored procedure
				exec [Staging].[Staging-to-DimCharterSchoolManagementOrganizations] NULL, 0
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 5

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 5
			end catch
		--------
	
			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 6 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-DimPeople_K12Students')

				--execute the stored procedure
				exec [Staging].[Staging-to-DimPeople_K12Students] 
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 6

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 6
			end catch
		--------
	
			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 7 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-DimPeople_K12Staff')

				--execute the stored procedure
				exec [Staging].[Staging-to-DimPeople_K12Staff] 
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 7

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 7
			end catch
		--------
	
			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 8 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactOrganizationCounts')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactOrganizationCounts] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 8

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 8
			end catch
		
		--------
	
			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 9 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactOrganizationCounts_ComprehensiveAndTargetedSupport')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactOrganizationCounts_ComprehensiveAndTargetedSupport] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)
				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 9

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 9
			end catch
		--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 10 and executed = 0)
			begin try 

				--write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_ChildCount')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_ChildCount] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 10

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 10
			end catch

		--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 11 and executed = 0)
			begin try 

				--write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Membership')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_Membership] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 11

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 11
			end catch
			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 12 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_SpecEdExit')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_SpecEdExit] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 12

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 12
			end catch
			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 13 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_TitleIIIELOct')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_TitleIIIELOct] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 13

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 13
			end catch
			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 14 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_TitleIIIELSY')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_TitleIIIELSY] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 14

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 14
			end catch

			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 15 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentDisciplines')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentDisciplines] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 15

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 15
			end catch

			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 16 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Chronic')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_Chronic] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 16

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 16
			end catch
			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 17 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Dropout')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_Dropout] @submissionYear

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 17

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 17
			end catch

			----------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 18 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Dropout')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_GraduatesCompleters] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 18

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 18
			end catch

			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 19 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Immigrant')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_Immigrant] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 19

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 19
			end catch

			--------


			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 20 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Homeless')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_Homeless] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 20

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 20
			end catch

			--------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 21 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Homeless')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_Homeless] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 21

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 21
			end catch
			------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 22 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_Immigrant')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_Immigrant] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 22

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 22
			end catch
			------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 23 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_MigrantEducationProgram')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_MigrantEducationProgram] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 23

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 23
			end catch
			------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 24 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_NeglectedOrDelinquent')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_NeglectedOrDelinquent] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 24

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 24
			end catch
			------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 25 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StudentCounts_TitleI')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StudentCounts_TitleI] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 25

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 25
			end catch
			------

			if exists (select 1 from #RDSMigrationProcedures where SP_ID = 26 and executed = 0)
			begin try 

				----write out message to DataMigrationHistories
				insert into app.DataMigrationHistories
				(DataMigrationHistoryDate, DataMigrationTypeId, DataMigrationHistoryMessage) values	(getutcdate(), 2, 'RUN DMC Staging-to-FactK12StaffCounts')

				--execute the stored procedure
				exec [Staging].[Staging-to-FactK12StaffCounts] @submissionYear
				DBCC SHRINKFILE([generate-test], 1)
				DBCC SHRINKFILE([generate-test_log], 1)

				--update the temp table 
				update #RDSMigrationProcedures set executed = 1 where SP_ID = 26

			end try 
			begin catch 
				update #RDSMigrationProcedures set Error = ERROR_MESSAGE() where SP_ID = 26
			end catch
			------



		IF EXISTS (SELECT 1 FROM #RDSMigrationProcedures WHERE Error IS NOT NULL) BEGIN
			SELECT * FROM #RDSMigrationProcedures s WHERE s.Error IS NOT NULL
		END

		-- Update App.ToggleAssessments with data from Staging
		TRUNCATE TABLE App.ToggleAssessments

		;WITH Assessments AS (
		SELECT DISTINCT 
			  AssessmentTitle
			, AssessmentTypeAdministeredToChildrenWithDisabilities
			, AssessmentAcademicSubject
			, AssessmentPerformanceLevelLabel
		FROM Staging.Assessment sa
		)
		INSERT INTO App.ToggleAssessments
		SELECT
			  sa.AssessmentTitle
			, CASE sa.AssessmentTypeAdministeredToChildrenWithDisabilities
				WHEN 'ALTASSALTACH'		THEN 'Alternate assessments based on alternate achievement standards'
				WHEN 'ALTASSGRADELVL'	THEN 'Alternate assessments based on grade-level achievement standards'
				WHEN 'ALTASSMODACH'		THEN 'Alternate assessments based on modified achievement standards'
				WHEN 'REGASSWACC'		THEN 'Regular assessments based on grade-level achievement standards with accommodations'
				WHEN 'REGASSWOACC'		THEN 'Regular assessments based on grade-level achievement standards without accommodations'
			  END
			, sa.AssessmentTypeAdministeredToChildrenWithDisabilities
			, 'End of Grade'
			, sar.GradeLevelWhenAssessed
			, COUNT(DISTINCT sar.AssessmentPerformanceLevelLabel)
			, '3'
			, CASE sa.AssessmentAcademicSubject
				WHEN '01166' THEN 'MATH'
				WHEN '13373' THEN 'RLA'
				WHEN '73065' THEN 'CTE'
				WHEN '00562' THEN 'SCIENCE'
				WHEN '00562' THEN 'SCIENCE'
			  END
		FROM Assessments sa
		JOIN Staging.AssessmentResult sar
			ON sa.AssessmentTitle = sar.AssessmentTitle
			AND sa.AssessmentAcademicSubject = sar.AssessmentAcademicSubject
			AND sa.AssessmentPerformanceLevelLabel = sar.AssessmentPerformanceLevelLabel
		LEFT JOIN App.ToggleAssessments ata
			ON sa.AssessmentTitle = ata.AssessmentName
			AND sa.AssessmentTypeAdministeredToChildrenWithDisabilities = ata.AssessmentTypeCode
			AND sar.GradeLevelWhenAssessed = ata.Grade
			AND CASE sa.AssessmentAcademicSubject
				WHEN '01166' THEN 'MATH'
				WHEN '13373' THEN 'RLA'
				WHEN '73065' THEN 'CTE'
				WHEN '00562' THEN 'SCIENCE'
				WHEN '00562' THEN 'SCIENCE'
			  END = ata.Subject
		WHERE sa.AssessmentAcademicSubject <> '00256' -- ESL
			AND ata.ToggleAssessmentId IS NULL
			AND GradeLevelWhenAssessed <> 'abe'
		GROUP BY 
			  sa.AssessmentTitle
			, sa.AssessmentTypeAdministeredToChildrenWithDisabilities
			, sar.GradeLevelWhenAssessed
			, sa.AssessmentAcademicSubject

	SET NOCOUNT OFF;

END



