@import '../../variables.scss';

.generate-app-reports-edfacts__external-link--div
{
    margin-top: 10px;       
}

.generate-app-reports-edfacts__external-link
{
    color: $color-primary;
}

.generate-app-reports-edfacts__external-link--caption
{
    margin-left: 10px;
    color: $color-primary;
    font-size: 16px;
}