@import '../../variables.scss';

.generate-app-leafederalfund__error
{
    color: $color-primary;
    font-weight: 700;
    font-size: 16px;
}

.generate-app-report__title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

.generate-app-leafederalfund__grid-header{
     margin: 0;
    padding: 0;
}

.generate-app-leafederalfund__categoryset-definition{
    font-style: italic;
}

.generate-app-leafederalfund-controls__sectionlabel
{
    margin-right: 5px;
    font-weight: 700;
    color: $color-primary-dark;
}


.generate-app-leafederalfund__total{
   text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.generate-app-leafederalfund__grid
{
    max-height: 450px;
}

.generate-app-leafederalfund__filter{}


.generate-app-leafederalfund-controls__export-container{
    float: right;
    width: 160px;
}

.generate-app-leafederalfund_connectionLink
{
    margin-top: 10px;
}


.generate-app-leafederalfund-controls__createfile-container
{
    float: right;
    width: 210px;
    margin-left: 10px;
}

