<!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->

<div *ngIf="errorMessage != null" class="mdl-typography--text-center">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center generate-app-yeartoyearchildcount__error">
            {{errorMessage}}
        </div>
    </div>
</div>

<div id="generate-app__message" class="generate-app-yeartoyearchildcount__message mdl-js-snackbar mdl-snackbar" aria-live="assertive" aria-atomic="true" aria-relevant="text">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"><span class="generate-text--screen-reader-only">Activate Toast Notification</span></button>
</div>

<h3 *ngIf="!isLoading && reportDataDto.dataCount >= 0" class="generate-app-yeartoyearchildcount__title">{{reportDataDto.reportTitle}}</h3>
<h3 *ngIf="!isLoading && reportDataDto.dataCount < 0" class="generate-app-yeartoyearchildcount__title">Not Yet Implemented</h3>

<div *ngIf="!isLoading && reportDataDto.dataCount >= 0" class="generate-app-yeartoyearchildcount__subtitle mdl-typography--text-center">
    {{reportParameters.reportLevel}} Level, {{reportParameters.reportYear}}
</div>

<div *ngIf="!isLoading && reportDataDto.dataCount >= 0 && reportParameters.reportLevel === 'lea' && reportParameters.reportLea !== null" class="generate-app-yeartoyearchildcount__subtitle mdl-typography--text-center">
    {{reportParameters.reportLea}}
</div>

<div *ngIf="!isLoading && reportDataDto.dataCount >= 0 && reportParameters.reportLevel === 'sch' && reportParameters.reportSchool !== null" class="generate-app-yeartoyearchildcount__subtitle mdl-typography--text-center">
    {{reportParameters.reportSchool}}
</div>

<div *ngIf="!isLoading && reportDataDto.dataCount >= 0 && reportParameters.reportType !== 'datapopulation'" class="mdl-typography--text-center generate-app-yeartoyearchildcount__categoryset-definition ">
    <span *ngFor="let cat of removeSubmissionYear; let i=index;"><span *ngIf="i > 0">, </span>{{cat}}</span>
</div>

<div *ngIf="currentReport !== undefined && currentReport.showGraph && currentReport.showData" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#reportdata-panel" class="mdl-tabs__tab is-active" (click)="clickedDataTab()">Data</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="reportdata-panel">
        <div class="mdl-grid generate-app-yeartoyearchildcount__grid-header">

            <div class="mdl-cell mdl-cell--4-col">
                <div *ngIf="!isLoading && reportDataDto.dataCount >= 0">
                    <label class="generate-app-yeartoyearchildcount-controls__sectionlabel " for="generate-app-federalprogram__filter">Filter</label>
                    <input id="generate-app-federalprogram__filter" type="text" class="form-control" [(ngModel)]="filter" />
                </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
                <div *ngIf="!isLoading && reportDataDto.dataCount >= 0" class="generate-app-yeartoyearchildcount__total mdl-typography--text-center">
                    {{dataCountCaption()}} {{reportDataDto.dataCount}}
                </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-typography--text-right">
                <div class="generate-app-yeartoyearchildcount-controls__export-container">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-button--accent" (click)="export(reportParameters.reportFilter)">
                        Export to Excel
                    </button>
                </div>
            </div>

        </div>

        <div *ngIf="isLoading" class="mdl-typography--text-center">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                    <div class="mdl-spinner mdl-js-spinner is-active"></div>
                </div>
            </div>
        </div>

        <div *ngIf="!isLoading && reportDataDto.dataCount >= 0 && (reportParameters.reportType !== 'datapopulation')">

        </div>

        <div *ngIf="!isLoading && reportDataDto.dataCount >= 0 && hasRecords">
            <div *ngIf="reportParameters.reportFilter !== 'select'">
                <generate-app-table #reportGrid [itemsSource]="reportDataDto"
                    headers="[
                        '{{organizationLevel}} Name',
                        '{{organizationLevel}} ID',
                        '{{filters.filterName}}',
                        '{{catToDisplay.categorySetName}}',
                        '{{PreviousYear()}} # of Removals',
                        '{{CurrentYear()}} # of Removals',
                        'Count Difference',
                        '% Change'
                    ]"
                    bindings="[
	                    'organizationName',
	                    'organizationStateId',
	                    'categorySetCode',
	                    'category1',
	                    'col_1',
	                    'col_2',
	                    'col_3',
	                    'col_4'
                    ]"
                    class="generate-app-yeartoyearchildcount__grid">
                </generate-app-table>
            </div>

            <div *ngIf="reportParameters.reportFilter === 'select'">

            </div>

            <div *ngIf="showpagination" class="container-fluid">
                <div class="row well app-filter">
                    <div class="col-sm-6 col-xs-12 app-nopad">

                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="showNoRecords" id="generate-app-grid__norecords">+No Records to Display.</div>
    </div>
</div>


<div *ngIf="!isLoading && reportParameters.connectionLink !== null" class="generate-app-yeartoyearchildcount_connectionLink">
    For report methodology, see <a href="{{reportParameters.connectionLink}}" target="_blank">Connection Link</a>.
</div>
