<generate-app-breadcrumbs breadcrumbs="Settings > Data Store"></generate-app-breadcrumbs>
<div class="mdl-grid generate-app-data-store__section">
    <div class="mdl-cell--1-col-desktop mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell--10-col-desktop mdl-cell mdl-cell--10-col-tablet mdl-cell--12-col-phone">
        <div>
            <div class="generate-app-data-store__header mdl-typography--body-2-color-contrast">
                <h5>Select the Migration process you want to execute.</h5>
            </div>
        </div>
    </div>
</div>
    <div class="mdl-grid generate-app-data-store__section">
        <div class="mdl-cell--1-col-desktop mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell--10-col-desktop mdl-cell mdl-cell--10-col-tablet mdl-cell--12-col-phone">
            <div>
                <div class="generate-app-data-store__actions">
                    <a href="#" (click)="gotoMigration('odsmigration')">
                        <input type="button" class="btnbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Staging Migration">
                    </a>
                </div>
            </div>

        </div>
        <div class="mdl-cell--1-col-desktop mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    </div>

    <div class="mdl-grid generate-app-data-store__section">
        <div class="mdl-cell--1-col-desktop mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell--10-col-desktop mdl-cell mdl-cell--10-col-tablet mdl-cell--12-col-phone">
            <div>
                <div class="generate-app-data-store__actions">
                    <a href="#" (click)="gotoMigration('rdsmigration')">
                        <input type="button" class="btnbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="RDS Migration">
                    </a>
                </div>
            </div>

        </div>
        <div class="mdl-cell--1-col-desktop mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    </div>

    <div class="mdl-grid generate-app-data-store__section">
        <div class="mdl-cell--1-col-desktop mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell--10-col-desktop mdl-cell mdl-cell--10-col-tablet mdl-cell--12-col-phone">
            <div>
                <div class="generate-app-data-store__actions">
                    <a href="#" (click)="gotoMigration('reportmigration')">
                        <input type="button" class="btnbtn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Reports Migration">
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell--1-col-desktop mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    </div>


