@import '../../variables.scss';

.generate-app-data-store__section
{
    margin-bottom: 10px;
    padding: 5px;
}

.generate-app-data-store__section-title
{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.generate-app-data-store__section-title-text
{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
}
.generate-app-data-store__subsection
{
    margin: 10px;
    text-align: center;
    color:rgba(0,0,0,.54) ;
}

.generate-report-migration-actions
{
    padding: 10px;
    text-align: center;
}

.generate-app-data-store__status
{
    padding: 5px;
    font-size: 12px;
    color: $color-primary;
}

.generate-app-data-store__progress{
    margin : 0 auto;
}

.generate-app-data-store__dialog{

  position: fixed;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);

}

.generate-report-config {
    float: right;
    margin-right: 35px;
}

.generate-report_reportyear__dialog {
    width: 600px;
    height: 400px;
}

.generate-report-report_year__dialog-title {
    background-color: $color-primary-dark;
    color: $color-primary-light;
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: 40px;
}

.generate-report_report_year__dialog-footer {
    background-color: $color-primary-dark;
    color: $color-primary-light;
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 97%;
}

.generate-report-report-year-controls__sectionlabel {
    margin-right: 5px;
    font-weight: 700;
    color: $color-primary;
    /*width:10px;*/
}

.generate-report-section-title {
    margin: 20px 50px;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.generate-report-section-main-title-text {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
}

.generate-report-migration-subsection {
    margin: 10px;
    text-align: center;
    color: rgba(0,0,0,.54);
}

.generate-report-status {
    padding: 5px;
    font-size: 12px;
    color: $color-primary;
}

.generate-report__progress {
    margin: 0 auto;
}


.generate-report-report_year__dialog-container {
}

.generate-report-dialog-footer {
    background-color: $color-primary-dark;
    color: $color-primary-light;
    margin-bottom: 10px;
    padding-left: 5px;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    width: 97%;
}

.grid-year {
    max-height: 150px;
    max-width: 260px;
}

.generate-rds-section-title {
    margin: 20px 50px;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.generate-reports-section-title {
    margin: 20px 50px;
    padding: 0;
}
