IF EXISTS (
select 1 from INFORMATION_SCHEMA.ROUTINES
where ROUTINE_SCHEMA = 'App' AND  ROUTINE_NAME = 'FS220_TestCase'
) 
DROP Procedure App.FS220_TestCase

GO

CREATE PROCEDURE [App].[FS220_TestCase]	
	@SchoolYear SMALLINT
AS
BEGIN

	--clear the tables for the next run
	IF OBJECT_ID('tempdb..#C220Staging') IS NOT NULL
	DROP TABLE #C220Staging

	IF OBJECT_ID('tempdb..#S_CSA') IS NOT NULL
	DROP TABLE #S_CSA

	IF OBJECT_ID('tempdb..#L_CSA') IS NOT NULL
	DROP TABLE #L_CSA

	-- Define the test
	DECLARE @SqlUnitTestId INT = 0, @expectedResult INT, @actualResult INT
	IF NOT EXISTS (SELECT 1 FROM App.SqlUnitTest WHERE UnitTestName = 'FS220_UnitTestCase') 

	BEGIN
		SET @expectedResult = 1
		INSERT INTO App.SqlUnitTest (
			[UnitTestName]
			, [StoredProcedureName]
			, [TestScope]
			, [IsActive]
		)
		VALUES (
			'FS220_UnitTestCase'
			, 'FS220_TestCase'				
			, 'FS220'
			, 1
		)
		SET @SqlUnitTestId = @@IDENTITY
	END 
	ELSE 
	BEGIN
		SELECT 
			@SqlUnitTestId = SqlUnitTestId
		FROM App.SqlUnitTest 
		WHERE UnitTestName = 'FS220_UnitTestCase'
	END
	
	-- Clear out last run
	DELETE FROM App.SqlUnitTestCaseResult WHERE SqlUnitTestId = @SqlUnitTestId
	
	--Create SY Start / SY End variables
	declare @SYStart varchar(10) = CAST('07/01/' + CAST(@SchoolYear - 1 AS VARCHAR(4)) AS DATE)
	declare @SYEnd varchar(10) = CAST('06/30/' + CAST(@SchoolYear AS VARCHAR(4)) AS DATE)


	-- Gather, evaluate & record the results
	SELECT  
		vnor.StudentIdentifierState
	   ,vnor.[SeaOrganizationIdentifierSea]
	   ,vnor.EdFactsAcademicOrCareerAndTechnicalOutcomeExitType
	INTO #C220Staging
	FROM [Staging].[vwNeglectedOrDelinquent_StagingTables_C220]  vnor
	WHERE EdFactsAcademicOrCareerAndTechnicalOutcomeExitType <> 'MISSING'
	AND SchoolYear = @SchoolYear

	/**********************************************************************
		Test Case 1:
		CSA at the SEA level - Student Count by SEA
	***********************************************************************/
	SELECT 
		SeaOrganizationIdentifierSea
		,EdFactsAcademicOrCareerAndTechnicalOutcomeExitType
		, COUNT(DISTINCT StudentIdentifierState) AS StudentCount
	INTO #S_CSA
	FROM #C220staging 
	GROUP BY SeaOrganizationIdentifierSea
	,EdFactsAcademicOrCareerAndTechnicalOutcomeExitType

	INSERT INTO App.SqlUnitTestCaseResult (
		[SqlUnitTestId]
		, [TestCaseName]
		, [TestCaseDetails]
		, [ExpectedResult]
		, [ActualResult]
		, [Passed]
		, [TestDateTime]
	)
	SELECT 
		@SqlUnitTestId
		, 'CSA SEA Match All'
		, 'CSA SEA Match All - SEA: ' +  rreksc.OrganizationIdentifierSea
		 + '; Exit Type: ' + s.EdFactsAcademicOrCareerAndTechnicalOutcomeExitType
		, s.StudentCount
		, rreksc.StudentCount
		, CASE WHEN s.StudentCount = ISNULL(rreksc.StudentCount, -1) THEN 1 ELSE 0 END
		, GETDATE()
	FROM #S_CSA s
	LEFT JOIN RDS.ReportEDFactsK12StudentCounts rreksc 
		ON s.SeaOrganizationIdentifierSea = rreksc.OrganizationIdentifierSea
		AND s.EdFactsAcademicOrCareerAndTechnicalOutcomeExitType = rreksc.EDFACTSACADEMICORCAREERANDTECHNICALOUTCOMEEXITTYPE
		AND rreksc.ReportCode = 'C220' 
		AND rreksc.ReportYear = @SchoolYear
		AND rreksc.ReportLevel = 'SEA'
		AND rreksc.CategorySetCode = 'CSA'
	DROP TABLE #S_CSA

END